html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	color: $base-text-color;
	background: $base-background-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	min-width: $base-min-width;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

p, ul, ol {
	margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 0 0 .5em;
	font-weight: bold;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

a {
	color: $white;
	text-decoration: none;
}

